---
permalink: /terms/
title: Terms of Service
---

{% include "header.njk" %}

<section class="py-24 px-6">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-4xl font-black mb-6">Terms of Service</h1>
    <p class="text-gray-600 dark:text-gray-400">
      These Terms apply to {{ site.company.name }} located in {{ site.company.city }}, {{ site.company.state }}.
    </p>
  </div>
</section>

{% include "footer.njk" %}
